extends helpers/layout

block head
	title Customization to Inactive

block content

	tr(style="background-color: #ffc641;")
		td(valign='top', colspan='2')
			p(style='margin: 48px 0 48px 0; padding:0 50px; font-size: 38px; line-height: 36px; font-weight:bold; text-align:center;')
				| What’s new
	
	+spacer( 32 )


	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Hi Aviators!
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Spring is here! These last few weeks, we’ve been jammin’ on a series of highly requested updates to help you keep up with your phone and customize your Aviate experience. 

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| Icon Packs
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Customize the look and style of your homescreen to make it feel like “home.” We currently support icon packs built for ADW, Apex and Nova launchers. <a style="color:black;" href="http://blog.getaviate.com/post/78699964205/customize-your-homescreen-with-icon-packs" title="Customize Your homescreen with icon packs">Learn More</a>

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| Notification Badges
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| See the number of missed or unread communications you have on the messaging/SMS and phone apps you use most. <a style="color:black;" href="http://blog.getaviate.com/post/80708690224/notification-badges-for-aviate-have-landed" title="Notification Badges for Aviate have landed">Learn More</a>

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| Shortcuts
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Get one-tap access to your most important contacts, documents, playlists, or websites. Create your own shortcuts and move them to specific collections, spaces, or favorites for easy access. <a style="color:black;" href="http://blog.getaviate.com/post/77397780485/get-around-faster-with-shortcuts" title="Get around faster with shortcuts">Learn More</a>
			
	tr(style=backgroundColor, width="100%")
		td(valign='top', align="center", colspan='2')
			img(align='center', width='100%', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/customization-features.jpg', alt="Watch Aviate in action here", style='width:100%; margin:24px 0 0;  text-align:center;' )

	+separator( 8 )
	+spacer( 32 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Many of our updates are inspired by your ideas and suggestions, so keep the awesome feedback coming! Tweet us 
				a( href="https://twitter.com/intent/tweet?text=.@Aviate", title="Aviate") @aviate 
				| or send an email to 
				a( href="mailto:feedback@getaviate.com", title="Help") feedback@getaviate.com
				| .

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Keep flying!

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Mark, Paul and Will (and the Aviate Team)


	+spacer( 24 )