extends helpers/layout

block head
	title Gingerbrtead Inactive

block content

	tr(style="background-color: #23b4f8;")
		td(valign='top', colspan='2')
			p(style='margin: 48px 0 48px 0; padding:0 50px; font-size:38px; line-height:36px; font-weight:bold; text-align:center; color:#ffffff;')
				| New features!
	
	+spacer( 32 )


	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Hi Aviators!
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| What a trip! You’ve flown with us through Beta and now we’re off on the next leg of our journey. We’ve recently <a href="http://yahooaviate.tumblr.com/post/91460499083/yahoo-aviate-now-available-on-gingerbread">released a bunch of awesome features</a> you’ve been asking for on Gingerbread (Android 2.3) and above! 
			img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/gingerbread.png', alt="Aviat for Gingerbread devices", style='width:100%; margin:16px 0 16px 0;  text-align:center;' )

	+spacer( 24 )
	+separator( 16 )
	+spacer( 16 )


	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| 1. Favorite People
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| <a href="http://bit.ly/aviatefavpeople">No more digging through contacts!</a> Swipe up from your homescreen to call or SMS your friends and family.
			img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/FavoritesGif.gif', style='width:100%; margin:24px 0 0 0;  text-align:center;' )

	+separator( 16 )
	+spacer( 16 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| 2. Calendar
			p(style='margin: 0 0 0px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Get quick access to your Calendar by swiping over to your Today or Work Space. With a single tap, you can:
			p(style='margin: 0 0 0px 16px; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - Dial in to meetings (conference codes included!) and email other attendees
			p(style='margin: 0 0 8px 16px; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - Call an Uber (if installed) to get to your next event
			img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/AgendaGif.gif', style='width:100%; margin:24px 0 0 0;  text-align:center;' )

	+separator( 16 )
	+spacer( 16 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| 3. More awesomeness
			p(style='margin: 0 0 0px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Check out a bunch of other cool stuff in your <a href="http://bit.ly/aviatetodayspace">Today Space:</a> 
			p(style='margin: 0 0 0px 16px; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - Updates on unexpected weather conditions
			p(style='margin: 0 0 0px 16px; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - Top news headlines of the day
			p(style='margin: 0 0 8px 16px; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - Sleep Mode, to keep track of those Zzz’s 
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| We’re excited about these next big steps and want to thank you - for trying Aviate out, for sharing with your friends, and for helping to make us great.

			a( href="http://bit.ly/1nRPaaX", title="Check out our new update")
				img(align='center', width='237', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/play-store.png', alt="Check out our new update", style='width:237px; display:block; margin: 24px auto 0; text-align:center;' )



	+spacer( 24 )
	+separator( 16 )
	+spacer( 24 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Along with this update, we’ve also refreshed our <a href="https://m.yahoo.com/w/web/legal/LegalLinks.bp">Terms of Service</a> and <a href="https://m.yahoo.com/p/aviateprivacy">Privacy Policy</a> to help us improve and personalize your experience. 
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| We miss you! Always an #aviateoriginal. 

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Keep flyin’!

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - Paul, Mark, Will & the Aviate Crew
	+spacer( 16 )