extends helpers/layout

block head
	title invite-friends-alpha

block content

	tr(style=backgroundColor, width=width)
		td(valign='top', width=width, colspan='2')
			p(style='width: 500px; margin: 50px 0 0; padding: 0 30px 0 50px; font-size:18px; line-height: 27px;')
				| <strong>Aviate Beta is here!</strong> </br>

			p(style='width: 500px; padding: 0 30px 0 50px; font-size:13px; line-height: 21px;')
				| We’re launching 
				a(href='http://bit.ly/1cnQz2Z', title="Aviate Blog") Aviate Beta
				|  and I want to thank you for being a part of the Aviate Alpha Crew. We listened, fixed your bugs (most of them!), and added new features.

	tr(style=backgroundColor, width=width)
		td(valign='top', width=width, colspan='2')
			p(style='width: 500px; margin: 20px 0 0; padding: 0 30px 0 50px; font-size:14px; line-height: 27px;')
				| <strong>Now fly with friends:</strong></br>

			p(style='width: 500px; margin: 0 0 0; padding: 0 30px 0 50px; font-size:13px; line-height: 21px;')
				| When you upgrade to Aviate Beta you’ll get five invite codes. We hope you will invite friends you think will love Aviate. 


	tr(style=backgroundColor, width=width)
		td(valign='top', width=width, colspan='2')
			p(style='width: 500px; margin: 20px 0 0; padding: 0 30px 0 50px; font-size:14px; line-height: 27px;')
				| <strong>Here is how to invite them:</strong></br>

			p(style='width: 500px; margin: 0 0 30px; padding: 0 30px 0 50px; font-size:13px; line-height: 21px;')
				| 1. From the homescreen, <strong>swipe</strong> to the Spaces page on the left.</br>
				| 2. At the bottom you’ll see an <strong>“Invite” button</strong>.

			p(style='width: 500px; margin: 0 0 30px; padding: 0 30px 0 50px; font-size:13px; line-height: 21px;')
				| Flying is more fun with friends, right? 

	+separator( 3 )

	+signature("Thanks again for flying with us!", 'Paul Montoy-Wilson' )