extends helpers/layout

block head
	title Launch Active Betas

block content

	tr(style="background-color: #23b4f8;")
		td(valign='top', colspan='2')
			p(style='margin: 48px 0 48px 0; padding:0 50px; font-size:38px; line-height:36px; font-weight:bold; text-align:center; color:#ffffff;')
				| New features!
	
	+spacer( 32 )


	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Hi Aviators!
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| What a trip! You’ve flown with us through Beta and now we’re off on the next leg of our journey. We've recently made Aviate available to everyone. No more invite codes and no more waiting — you can share Aviate instantly with all your friends and family.
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| To <a href="http://bit.ly/1j7I5in">celebrate our debut</a> (and new look!), we’re releasing a bunch of features you’ve been asking for!

	+spacer( 24 )
	+separator( 16 )
	+spacer( 16 )


	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| 1. Favorite People
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| <a href="http://bit.ly/aviatefavpeople">No more digging through contacts!</a> Swipe up from your homescreen to call or SMS your friends and family. 
			img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/FavoritesGif.gif', alt="Watch Aviate in action here", style='width:100%; margin:24px 0 0 0;  text-align:center;' )

	+separator( 16 )
	+spacer( 16 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| 2. Calendar
			p(style='margin: 0 0 0px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Get quick access to your Calendar by swiping over to your Today or Work Space. With a single tap, you can:
			p(style='margin: 0 0 0px 16px; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - Dial in to meetings (conference codes included!) and email other attendees
			p(style='margin: 0 0 8px 16px; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - Call an Uber (if installed) to get to your next event
			img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/AgendaGif.gif', alt="Watch Aviate in action here", style='width:100%; margin:24px 0 0 0;  text-align:center;' )

	+separator( 16 )
	+spacer( 16 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| 3. More awesomeness
			p(style='margin: 0 0 0px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Check out a bunch of other cool stuff in your <a href="http://bit.ly/aviatetodayspace">Today Space:</a> 
			p(style='margin: 0 0 0px 16px; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - Updates on unexpected weather conditions
			p(style='margin: 0 0 0px 16px; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - Top news headlines of the day
			p(style='margin: 0 0 8px 16px; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - Sleep Mode, to keep track of those Zzz’s 

			a( href="http://bit.ly/1ypUd7W", title="Check out our new update")
				img(align='center', width='237', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/play-store.png', alt="Check out our new update", style='width:237px; display:block; margin: 24px auto 0; text-align:center;' )



	+spacer( 24 )
	+separator( 16 )
	+spacer( 24 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Along with this update, we’ve also refreshed our <a href="https://m.yahoo.com/w/web/legal/LegalLinks.bp">Terms of Service</a> and <a href="https://m.yahoo.com/p/aviateprivacy">Privacy Policy</a> to help us improve and personalize your experience. 
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| We’re excited about these next big steps and want to thank you - for trying Aviate out, for sharing with your friends, and for helping to make us great. Don’t forget to tweet us 
				a( href="https://twitter.com/intent/tweet?text=.Simplify%20your%20phone,%20simplify%20your%20life.%20%23getsimple%20%23getaviate%20http://bit.ly/getAviate", title="Aviate") @Aviate
				|  to share your #aviateoriginal homescreen with the world! 

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Keep flyin’!

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - Paul, Mark, Will & the Aviate Crew

			img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/thankyou.gif', alt="Keep flyin’!", style='width:70%; margin:24px 0 0 15%;  text-align:center;' )
			p(style='margin: 8px 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px; color:#999; text-align:center;')
				| This one's for you guys (if you can't view the gif, <a href="http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/thankyou.gif">click here</a>)

