extends helpers/layout

block head
	title Email to Uninstalled Users

block content

	tr(style=backgroundColor, width=width)
		td(valign='top', width=width, colspan='2')
			p(style='width: 500px; margin: 30px 0 0; padding: 0 30px 0 50px; font-size: 13px; line-height: 24px;')
				| From joining the Yahoo team to finding new ways to make Aviate better, the last few months have been a whirlwind of amazing change.
			p(style='width: 500px; margin: 10px 0 0px; padding: 0 30px 0 50px; font-size: 13px; line-height: 24px;')
				| We’re in awe of the support of the Aviate community and take pride in our ability to make quick changes with your feedback. As we continue to build towards a smarter, better Aviate, we’d love your opinions now more than ever.
			p(style='width: 500px; margin: 10px 0 10px; padding: 0 30px 0 50px; font-size: 13px; line-height: 24px;')
				| Some of the best ideas we’ve heard center around music. You want it to be simpler, and so do we. That’s why we’re happy to announce our latest update: <strong>Listening Space</strong>.  

	tr(style=backgroundColor, width=width)
		td(valign='top', align="center", width=width, colspan='2')
			img(align='center', width='500', height="328", src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/music-space.png', alt="Watch Aviate in action here", style='width: 500px; height:328px; margin:10px 0 0; text-align:center;' )

	tr(style=backgroundColor, width=width)
		td(valign='top', width=width, colspan='2')
			p(style='width: 500px; margin: 20px 0 20px; padding: 0 30px 0 50px; font-size: 13px; line-height: 24px;')
				| Just plug in your headphones and automatically get access to the music apps and info you need. Aviate recognizes the song you’re listening to and automatically draws on Wikipedia, Twitter, Spotify, and Songkick to give you more relevant content and information about the artist or band.


	+separator( 3 )

	tr(style=backgroundColor, width=width)
		td(valign='top', width=width, colspan='2')
			p(style='width: 500px; margin: 20px 0 0; padding: 0 30px 0 50px; font-size: 13px; line-height: 24px;')
				| We’re still in Beta and celebrating the update with a new invite code! Check out Listening Space and other Aviate updates in the Play Store. Just enter <strong>“MUSIC”</strong> when prompted for an invite code. 


	tr(style=backgroundColor, width=width)
		td(valign='top', align="center", width=width, colspan='2')
			a(href="https://play.google.com/store/apps/details?id=com.tul.aviate", title="Watch Aviate in action here")
				img(align='center', width='252', height="57", src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/install-aviate-red.png', alt="Share Aviate", style='width:252px; height:57px; margin:20px 0 20px 0; text-align:center;' )

	tr(style=backgroundColor, width=width)
		td(valign='top', width=width, colspan='2')
			p(style='width: 500px; margin: 10px 0 0; padding: 0 30px 0 50px; font-size: 13px; line-height: 24px;')
				| As with all of our updates, we rely on your awesome feedback to keep making Aviate better. Please tweet us <a href="https://twitter.com/intent/tweet?text=.@Aviate" title="Aviate">@aviate</a> or send an email to <a href="mailto:feedback@getaviate.com" title="Help">feedback@getaviate.com</a> to share what you think!



	tr(style=backgroundColor, width=width)
		td(valign='top', width=width, colspan='2')
			p(style='width:500px; padding: 10px 0 0 50px; margin-bottom:0;')
				strong Plug in your headphones and rock out!
			p(style='width:500px; padding:0px 0 20px 50px; margin-top:0;')
				| Mark, Paul and Will (and the Aviate Team)



	+separator( 3 )

	tr(style=backgroundColor, width=width)
		td(valign='top', width=width, colspan='2')
			p(style='width: 500px; margin: 30px 0 0; padding: 0 30px 0 50px; font-size: 11px; line-height: 18px; font-style:italic; color:#999;')
				| &bull; Aviate is currently in an invite-only private beta. Click here to download. Limited invites are available with the code “MUSIC”.  
			p(style='width: 500px; margin: 5px 0 0; padding: 0 30px 0 50px; font-size: 11px; line-height: 18px; font-style:italic; color:#999;')
				| &bull; Listening Space is available on devices running Android 4.0+. 
			p(style='width: 500px; margin: 5px 0 20px; padding: 0 30px 0 50px; font-size: 11px; line-height: 18px; font-style:italic; color:#999;')
				| &bull; <strong>Samsung Galaxy Users:</strong> Please make sure you update to Android 4.3+ for the best experience as there are known issues with Android 4.2. 