extends helpers/layout

block head
	title Recover day 3

block content

	tr(style="background-color: #23b4f8;")
		td(valign='top', colspan='2')
			p(style='margin: 48px 0 48px 0; padding:0 50px; font-size:38px; line-height:36px; font-weight:bold; text-align:center; color:#ffffff;')
				| We Miss You!
	
	+spacer( 32 )


	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Aviator,
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Switching from one homescreen to another can be tough at first — we totally get it! From contextual suggestions to new app collections, <a href="http://bit.ly/1nF37Fx">Yahoo Aviate</a> can take some time getting used to. Here’s to giving Aviate another try.
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Aviate really is <em>that</em> awesome:




	+spacer( 24 )
	+separator( 16 )
	+spacer( 16 )


	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| 1. See the apps you need as you need them
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| You’ll be able to see Google Maps when you’re commuting, Spotify when you plug in headphones and your alarm clock when you’re ready for bed.
			img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/MusicSpaceGif.gif', alt="Watch Aviate in action here", style='width:100%; margin:24px 0 0 0;  text-align:center;' )

	+separator( 16 )
	+spacer( 16 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| 2. Organize your apps, automatically
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Aviate organizes your apps into neat buckets like “Weather,” “Finance,” or “Cooking” so you’re caught with a cluttered app drawer.
			img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/gif_collections.gif', alt="Watch Aviate in action here", style='width:100%; margin:24px 0 0 0;  text-align:center;' )

	+spacer( 24 )
	+separator( 16 )
	+spacer( 16 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| 3. Make your daily habits delightful 
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Swipe up for your favorite contacts, get weather alerts and even access your daily news roundup in an instant.
			img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/FavoritesGif.gif', alt="Watch Aviate in action here", style='width:100%; margin:24px 0 0 0;  text-align:center;' )

	+spacer( 16 )
	+separator( 16 )
	+spacer( 24 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Put that flight suit back on. We know you won’t regret it.

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Come fly with us,

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - The Aviate Team

	+spacer( 24 )